/*-----------------------------------*\
  #service.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/**
 * TABLE OF CONTENT
 *
 * COMPONENTS
 * Btn............................Buttons style
 *
 * MAIN CONTENT
 * Portfolio......................Portfolio style
 * Media queries..................Responsive for all devices
 */

/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@import url("../styles/components/btn.css");

/*-----------------------------------*\
  #nav
\*-----------------------------------*/
header {
  position: relative; /* 使用相對定位 */
  width: 100%; /* 設置寬度 */
  z-index: 10;
}

.logo {
  position: absolute;
  top: 20px;
  left: 80px;
  z-index: 11;
}

.block {
  position: absolute;
  top: 8px; /* 與頂部的距離 */
  right: 30px; /* 與右側的距離 */
  width: 80px; /* 設置寬度 */
  height: 80px; /* 設置高度 */
  z-index: 11;
}

.horizontal-line {
  position: absolute;
  top: 18px;
  right: 430px;
  width: 200px;
  z-index: 9;
}
.nav {
  position: absolute; /* 使用絕對定位 */
  top: 35px; /* 與頂部的距離 */
  right: 120px; /* 與右側的距離 */
  font-family: JosefinSans◆, SukhumvitSet-SemiBold;
  font-size: 20px;
  z-index: 12;
}
.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 30px; /* 文字之間的間距 */
}
.nav ul li:last-child {
  margin-right: 0; /* 最後一個元素不需要右側間距 */
}
.nav ul li a {
  text-decoration: none;
  color: black;
  text-decoration: none;
  transition: all 0.1s ease;
  z-index: 13;
  &:hover {
    color: rgb(252, 124, 8);
  }
}

/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/
.container {
  position: absolute;
  top: 35px;
  left: 120px;
  z-index: 2;
}

#portfolio-label {
  position: relative;
  top: 40px;
  left: -425px;
  font-size: 45px;
  z-index: 14;
}

.portfolio {
  background-color: #FCF8F0
  padding-block-start: calc(var(--section-padding) + 60px);
  z-index: 1;
}

.portfolio-list,
.portfolio-card {
  display: grid;
}

.portfolio-list {
  list-style-type: none;
  gap: 50px;
  padding-bottom: 80px;
}

.portfolio-card {
  gap: 20px;
}

.portfolio-card .card-banner {
  position: relative;
  /* border: 2px solid hsl(0, 0%, 22%); */
  box-shadow: 0 0 0 hsl(0, 0%, 22%);
  transition: all 0.3s ease;
  z-index: 1;
}

.portfolio-card .card-banner:hover,
.portfolio-card .card-banner:focus-within {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.portfolio-card .btn-icon {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 22%);
  font-size: 1.5rem;
  padding: 5px;
  border: 2px solid hsl(0, 0%, 22%);
  opacity: 0;
  transition: all 0.3s ease;
  will-change: transform;
  z-index: 2;
}

.portfolio-card .card-banner:hover .btn-icon,
.portfolio-card .card-banner:focus-within .btn-icon {
  transform: translateX(10px);
  opacity: 1;
}

.portfolio-card .chip {
  background-color: rgba(255, 69, 0, 0.2);
  max-width: max-content;
  color: hsl(0, 0%, 22%);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 6px 20px;
  border-radius: 50px;
  margin-block-end: 15px;
  font-family: "Roboto", "Open Sans", sans-serif;
}

.portfolio-card .card-text {
  margin-block: 10px 25px;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  .portfolio-card {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .portfolio-list > li:nth-child(2n) .card-banner {
    order: 1;
  }

  .portfolio-card > * {
    width: 80%;
    margin-inline: auto;
  }

  .portfolio-card .card-text {
    margin-block-start: 20px;
  }
}
